.yellow {
  color: yellow;
}
.star:hover {
  cursor: pointer;
}

.create-review-modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.create-review-modal > * {
  width: 90%;
  text-align: center;
}
.create-review-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.create-review-input {
  border: 1px solid antiquewhite;
  width: 100%;
  height: 200px;
  resize: none;
  font-size: 15px;
}

.submit-your-review {
  width: 100%;
  padding: 10px;
}
