.spot-details * {
  margin: 0px;
}

.top-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.non-preview-images > img {
  width: 100px;
  height: 100px;
}

.reserve-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". ." "button button";
  border-radius: 5px;
  outline: 1px solid black;
}

.reserve-area > span {
  display: flex;
}

.reserve-area p {
  margin: 0px;
  padding: 0px;
}

.reserve-area > button {
  grid-area: button;
  margin: 15px;
  /* background-color: darkred; */
  /* color: white; */
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.details-details {
  display: flex;
  justify-content: space-between;
}
