/* TODO: Add sitewide styles */
* {
  background-color: rgb(33, 35, 40);
  color: antiquewhite;
  margin: 0px;
}

body {
  display: grid;
  grid-template-columns: 1fr, 4fr, 2fr, 4fr;
}

button {
  color: rgb(33, 35, 40);
  background-color: steelblue;
}

button:disabled {
  opacity: 60%;
}

button * {
  color: rgb(33, 35, 40);
  background-color: steelblue;
}

.error,
.errors {
  color: steelblue;
}

#red {
  background-color: red;
  color: antiquewhite;
}

#grey {
  background-color: gray;
  color: rgb(33, 35, 40);
}

.smaller {
  font-size: smaller;
  opacity: 70%;
}
