.login {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  padding: 20px;
  text-align: center;
  gap: 10px;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 250px;
  gap: 10px;
}

.login-form input {
  outline: 1px solid steelblue;
}
.login-form input:focus {
  outline: 1px solid antiquewhite;
}
